---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Anthony Pierre-Charles" description="A propos de moi.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Découvrez mon profil"
				tagline=""
			>
				<img
					width="300"
					height="550"
					src="/assets/b-removebg.png"
					alt="Anthony at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Magasinier/cariste pendant plus de cinq ans, je ne parvenais pas à m'épanouir au sein de mon métier. Après une introspection professionnelle et au détour de visonnages de tutos sur le code : la programmation s'est révélée être ma vocation.
					</p>
					<br>
					<p>
						Suite à quelques essais hasardeux en HTML et CSS pour aquerir les bases, je me suis lancé dans une première formation developpeur web et web mobile. C'est à partir de cette formation que mon choix s'est confirmé et j'ai donc poursuivi mon parcours en me spécialisant dans le DevOps. 
					</p>
					<br>
					<p>
						Aujourd'hui, mon objectif est clair : mettre en pratique mes connaissances à travers divers projets pour me perfectionner et developper une expertise.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<ul>
						<li>Developpeur Web et Web Mobile (La Passerelle)</li>
						<li>Concepteur Developpeur d'applications (La Passerelle)</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Javascript</li>
						<li>PHP</li>
						<li>React</li>
						<li>Symphony</li>
						<li>Node.JS</li>
						<li>Docker</li>
						<li>SQL</li>
						<li>MongoDB</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		align-self: center;
		height: 550px;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
